body {
  background-color: rosybrown;
  display: flex;
  justify-content: center;
}

.child {
  width: 500px;
  height: 200px;
  background-color: peachpuff;
  border-radius: 30px;
}

.artwork {
  width: 100px;
  height: 100px;
  background-color: floralwhite;
  border-radius: 30px;
  margin: 10px;
}

#name {
  color: rosybrown;
  display: flex;
  justify-content: center;
}
